.env
gcp-key.json
*.json               
secrets.toml
.streamlit/secrets.toml
.python-version
process.txt


/data/
*.csv
*.parquet


.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/


derby.log
metastore_db/
spark-warehouse/
checkpoint/


.vscode/
.DS_Store
*.swp
*.swo


.streamlit/
